
<md-toolbar class="md-theme-light">
  <h2 class="md-toolbar-tools">
    <span>Nuevo Bar</span>
  </h2>
</md-toolbar>

<md-content layout-padding="" layout-gt-sm="row">
<div>
  <form name="nuevoBarForm">

    <div layout-gt-md="row">
      <md-input-container class="md-block" flex-gt-sm="">
        <label>Nombre del Bar</label>
        <input ng-model="bar.nombre">
      </md-input-container>
    </div>

    <md-input-container class="md-block">
      <label>Dirección</label>
      <input ng-model="bar.direccion">
      <md-icon class="material-icons">place</md-icon>
    </md-input-container>

    <md-input-container class="md-block">
      <label>Descripción</label>
      <textarea ng-model="bar.descripcion" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
    </md-input-container>

    <md-content>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="caract in carecteristicas">
                <div class="md-list-item-text">
                    <h3>{{caract.nombre}}</h3>
                    <p>{{caract.descripcion}}</p>
                </div>
                <md-checkbox ng-model="caract.check" aria-label="Checkbox"></md-checkbox>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>

  </form>


    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button ng-click="crearNuevoBar()" class="md-raised md-primary">Guardar</md-button>
        <md-button ng-click="goToState('Inicio')" class="md-raised">Cancelar</md-button>
    </section>

</div>
</md-content>
