<style>
.angular-google-map-container{
	height: 84%;
	width: 99%
}
md-list{
	height: 84%;
	overflow-y: scroll;
}
ui-view{
	width: 98%;
}
md-input-container input{
	max-width: 50%;
}
md-input-container label{
	margin-left: 24px;
}
md-input-container i{
	float: left;
	display: inline-block;
}
md-input-container .md-primary{
	float: right;
	position: relative;
	top: -10px
}
md-input-container .filtros label, .filtroValue label{
	margin-left: 0px;
}
md-input-container .filtros{
	width: 15%;
}
md-input-container .filtroValue{
	width: 20%;
	display: inline-block;
}
</style>

<md-input-container class="md-block" flex-gt-sm>
	<i class="material-icons">place</i>
	<label>Ubicación</label>
	<input ng-model="address" type="text" ng-keypress="buscarDireccion($event)">
    <div layout>
      <div flex-gt-sm layout layout-align="center center">
        <span class="md-body-1">Distancia:</span>
      </div>
      <md-slider flex-gt-sm md-discrete ng-model="distancia" step="100" min="400" max="2000" aria-label="distancia">
      </md-slider>
    </div>
	<md-input-container class="filtros">
		<label>Filtro</label>
		<md-select ng-model="selectedFiltro.filtro">
          <md-option ng-repeat="filtro in Filtros" value="{{filtro.nombre}}">{{filtro.nombre}}</md-option>
        </md-select>
	</md-input-container>
	<md-input-container class="filtroValue" flex>
		<label>Valor</label>
		<input ng-model="selectedFiltro.value">
	</md-input-container>
	<md-button class="md-raised md-primary" ng-click="baresCercanos()">Buscar bares cercanos</md-button>
</md-input-container>
<md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>

<div layout-gt-sm="row" layout="column">
	<div flex-gt-sm="25" flex>
		<md-content>
			<md-list flex class="md-dense">
			<md-subheader class="md-no-sticky">Listado de Bares</md-subheader>
			<md-list-item class="md-3-line" ng-repeat="bar in Bares" ng-click="ubicarUnBar(bar)">
				<img ng-src="img/bar-icon.png" class="md-avatar"  />
				<div class="md-list-item-text" layout="column">
					<h3>{{ bar.nombre }}</h3>
					<h4>{{ bar.descripcion }}</h4>
					<p>{{ bar.direccion }}</p>
				</div>
			</md-list-item>
		</md-content>
	</div>

	<div ng-controller="Mapa" flex-gt-sm="75" flex>
		<ui-gmap-google-map ng-if="map.center" center='map.center' zoom='map.zoom' events='map.events'>
			<ui-gmap-circle center="currentPosition" stroke="map.userMarker.stroke" fill="map.userMarker.fill" radius="radius" visible="true"></ui-gmap-circle>

			<ui-gmap-marker ng-repeat="marker in Marcadores" coords="marker.coords" options="marker.options" idkey="marker.id" click="marker.window.options.visible = !marker.window.options.visible;">
				<ui-gmap-window options="marker.window.options" closeClick="marker.window.options.visible = false">
					<div style="color:rgb(63,81,181)">
						<h2>{{marker.window.title}}</h2>
						<p>{{marker.window.description}}</p>
						<p>{{marker.window.location}}</p>
					</div>
				</ui-gmap-window>
			</ui-gmap-marker>
		</ui-gmap-google-map>
	</div>
</div>