<style>
.angular-google-map-container{
	height: 85%;
	width: 99%
}
ui-view{
	width: 98%;
}
md-input-container input{
	max-width: 50%;
}
md-input-container label{
	margin-left: 24px;
}
md-input-container i{
	float: left;
	display: inline-block;
}
md-input-container .md-primary{
	float: right;
	position: relative;
	top: -10px
}
</style>

<md-input-container class="md-block" flex-gt-sm>
	<i class="material-icons">place</i>
	<label>Ubicación</label>
	<input ng-model="address" type="text" ng-keypress="coordenadas($event)">
    <div layout>
      <div flex-gt-sm layout layout-align="center center">
        <span class="md-body-1">Distancia:</span>
      </div>
      <md-slider flex-gt-sm md-discrete ng-model="distancia" step="100" min="400" max="2000" aria-label="distancia">
      </md-slider>
    </div>
	<md-button class="md-raised md-primary" ng-click="buscarCercanos()">Buscar bares cercanos</md-button>
</md-input-container>
<md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>

<div ng-controller="Mapa">
	<ui-gmap-google-map ng-if="map.center" center='map.center' zoom='map.zoom' events='map.events'>
		<ui-gmap-circle center="currentPosition" stroke="map.userMarker.stroke" fill="map.userMarker.fill" radius="radius" visible="true"></ui-gmap-circle>

		<ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" idkey="marker.id" click="marker.window.options.visible = !marker.window.options.visible;">
			<ui-gmap-window options="marker.window.options" closeClick="marker.window.options.visible = false">
				<div style="color:rgb(63,81,181)">
					<h2>{{marker.window.title}}</h2>
					<p>{{marker.window.description}}</p>
					<p>{{marker.window.location}}</p>
				</div>
			</ui-gmap-window>
		</ui-gmap-marker>
	</ui-gmap-google-map>
</div>